[tools]
uv = "latest"
rust = { version = "stable", profile = "default", components = "rust-src" }
npm = "latest"
node = "lts"

[tasks.setup]
run = ["mise install", { tasks = ["setup-uv", "setup-npm"] }]

[tasks.setup-uv]
run = "mise exec -- uv sync"

[tasks.setup-npm]
run = "mise exec -- npm install"

[tasks.format]
run = ["mise exec -- uv run ruff format", "mise exec -- cargo fmt --all"]

[tasks.check]
run = [
  "mise exec -- uv run ruff format --diff",
  "mise exec -- uv run ruff check",
  "mise exec -- uv run ty check",
  "mise exec -- cargo fmt --all -- --check",
  "mise exec -- cargo clippy --all-targets --all-features -- -D warnings",
  "mise exec -- cargo check --all-targets --all-features",
]

[tasks.test]
run = ["mise exec -- uv run pytest tests"]
